extends layout
block styles
    link(rel="stylesheet", href="/css/users.css")


block content
    //- include partials/messages
    -if(errors){
        .errors-area
            -for(var i=0; i<errors.length; i++){
                .error(id='error#{i}')
                    i.fa.fa-warning
                    h1= errors[i].msg
                    i.fa.fa-times.close-error
                    .time-interval(id='time#{i}')
            -}
    -}
    .register
        h1.title 
            i.fa.fa-user-plus 
            | ثبت نام 
        form(action="/users/register" id="register" method="POST")
            .text-input-area
                input.textinput(type="text" placeholder="نام" name="firstName" value= "#{ typeof firstName != 'undefined' ? firstName: '' }")
                i.fa.fa-pencil
            .text-input-area
                input.textinput(type="text" placeholder="نام خانوادگی" name="lastName" value= "#{ typeof lastName != 'undefined' ? lastName: '' }")
                i.fa.fa-pencil
            .text-input-area
                input.textinput(type="text" placeholder="کد ملی" name="idNumber" value= "#{ typeof idNumber != 'undefined' ? idNumber: '' }")
                i.fa.fa-user
            .text-input-area
                input.textinput(type="text" placeholder="شماره شناسنامه" name="cardNumber" value= "#{ typeof cardNumber != 'undefined' ? cardNumber: '' }")
                i.fa.fa-credit-card
            .date-input-area
                label(for="day") تاریخ تولد: 
                input(type="Number" name="birthDay" placeholder="روز" required)
                label(for="month") / 
                input(type="Number" name="birthMonth" placeholder="ماه" required)
                label(for="year") / 
                input(type="Number" name="birthYear" placeholder="سال" value="1380" required)     
            .select-input-area
                label(for="sex") جنسیت: 
                select(name="sex") 
                    option(value="خانم") خانم
                    option(value="آقای") آقا
                
            .text-input-area
                input.textinput(type="text" placeholder="نام پدر" name="fatherName" value= "#{ typeof fatherName != 'undefined' ? fatherName: '' }")
                i.fa.fa-user
            
            .text-input-area
                input.textinput(type="text" placeholder="نشانی" name="address" value= "#{ typeof address != 'undefined' ? address: '' }")
                i.fa.fa-map-marker
            .text-input-area
                input.textinput(type="text" placeholder="کد پستی" name="postCode" value= "#{ typeof postCode != 'undefined' ? postCode: '' }")
                i.fa.fa-inbox
            .text-input-area
                input.textinput(type="text" placeholder="شماره تماس" name="phone" value= "#{ typeof phone != 'undefined' ? phone: '' }")
                i.fa.fa-phone
            .text-input-area
                input.textinput(type="password" placeholder="رمز عبور" name="password" value= "#{ typeof psw != 'undefined' ? psw: '' }")
                i.fa.fa-key
            .text-input-area
                input.textinput(type="password" placeholder="تایید رمز عبور" name="configpassword" value= "#{ typeof configpsw != 'undefined' ? configpsw: '' }")
                i.fa.fa-check
            .text-input-area
                button.submit(type="submit") ثبت نام
            a.link(href="/users/login") قبلا عضو شده اید؟
    script(src="/js/users.js")