extends layout

block styles
    link(rel="stylesheet", href="/css/dashboard/dashboard.css")
    link(rel="stylesheet", href="/css/components/register.css")
    link(rel="stylesheet", href="/css/components/sms.css")

block content
    .message-area
        -if(login){
            .success-msg
                i.fa.fa-times.close-success-msg
                ul 
                    li به پنل کاربری خود خوش آمدید
        -}
    .title-view 
        h1 داشبورد
        h2 11
    .content-view 
        .users-view 
            .filters 
                .check-input
                    input.check(type="checkbox" id="filter1")
                    label(for="filter1") نیازمند بررسی
                .check-input
                    input.check(type="checkbox" id="filter2")
                    label(for="filter2") تکمیل شده
                .check-input
                    input.check(type="checkbox" id="filter3")
                    label(for="filter3") ناقص
                .check-input
                    input.check(type="checkbox" id="filter4")
                    label(for="filter4") مالک چاه
                .search-view 
                    input.search(type="text" id="search-text" placeholder="جستجو..." onkeyup="search()")
                    .search-button
                        i.fa.fa-search
                .add-user-btn 
                    i.fa.fa-plus 
                    | ثبت درخواست
            .users-list 
                table#myTable
                    tr 
                        th کاربر
                        th وضعیت
                        th پیام ها
                    -for(var i=0; i<users.length; i++){
                        -if(users[i].role == 'user'){
                            tr.btn(id="user-btn-#{i}") 
                                td
                                    h1= users[i].fullname
                                    a.phone(href="tel:#{users[i].phone}")= users[i].phone
                                td.status
                                    .state(class="#{users[i].regStatusNum > 0 ? 'active' : ''}")
                                        i.fa.fa-check 
                                        .text ثبت درخواست
                                    .line
                                    .state(class="#{users[i].regStatusNum > 1 ? 'active' : ''}")
                                        i.fa.fa-check 
                                        .text بررسی وضعیت شارژ و اعتبار بهره‌برداران
                                    .line
                                    .state(class="#{users[i].regStatusNum > 2 ? 'active' : ''}")
                                        i.fa.fa-check 
                                        .text بررسی وضعیت فنی پرونده چاه
                                    .line
                                    .state(class="#{users[i].regStatusNum > 3 ? 'active' : ''}")
                                        i.fa.fa-check 
                                        .text اصلاح نام پرونده
                                    .line
                                    .state(class="#{users[i].regStatusNum > 4 ? 'active' : ''}")
                                        i.fa.fa-check 
                                        .text تعهد نامه نمایندگی در فروش
                                    .line
                                    .state(class="#{users[i].regStatusNum > 5 ? 'active' : ''}")
                                        i.fa.fa-check 
                                        .text بررسی وضعیت نهایی شارژ و صدور فرم‌ها
                                    
                                td 
                                    i.fa.fa-envelope.message(id="sms-btn2-#{i}")
                        -}
                    -}
        .user-control
            .control 
                h1.title
                    i.fa.fa-envelope.env
                    | اعلان ها
                    -if(notifications.filter(e => e.target == 'تشکل آب بران' && !e.seen).length > 0)
                        i.fa.fa-circle.bubble
                .notifications
                    -for(var i=notifications.length-1; i>=0; i--){
                        -if(notifications[i].target == 'تشکل آب بران' && !notifications[i].seen){
                            .notif
                                .text= notifications[i].text + ' '
                                    -if(notifications[i].userID){
                                        -var index = users.map(e => e._id.toString()).indexOf(notifications[i].userID)
                                        br
                                        .link(id="notif-user-btn-#{index}") مشاهده کاربر
                                    -}
                                .date= dateConvert.convertDate(notifications[i].date)
                        -}
                    -}
                .notifications.seen.hidden
                    -for(var i=notifications.length-1; i>=0; i--){
                        -if(notifications[i].target == 'تشکل آب بران' && notifications[i].seen){
                            .notif.seen
                                .text= notifications[i].text + ' '
                                    -if(notifications[i].userID){
                                        -var index = users.map(e => e._id.toString()).indexOf(notifications[i].userID)
                                        br
                                        .link(id="notif-user-btn-#{index}") مشاهده کاربر
                                    -}
                                .date= dateConvert.convertDate(notifications[i].date)
                                i.fa.fa-check.check
                                i.fa.fa-check.check2
                        -}
                    -}
                .more-notif-btn مشاهده پیام های خوانده شده
    include ../kargozar/register
    include ../components/users-popups
    include ../components/sms
    script(src="/js/kargozar.js") 
