.complete-license-info 
    .title-view 
        h1 حساب چاه‌وندی #{account.accountNumber} 
    .content-view 
        .users-view 
            form(action="/upload/save-chahvandi" enctype="multipart/form-data" method="POST") 
                input.hidden(type="text" name="accountID" value="#{account._id}")
                .two-column
                    .title اطلاعات حساب جاه‌وندی
                    .column
                        .select-input
                            label(for="userID") 
                                i.fa.fa-pencil 
                                | کاربر:
                            select(name="userID" id="userID") 
                                option(value="undefined") انتخاب کاربر
                                -for(var i=0; i<users.length; i++){
                                    -if(account.ownerID == users[i]._id)
                                        option(value="#{users[i]._id}" selected) #{users[i].fullname} (#{users[i].phone})
                                    -else
                                        option(value="#{users[i]._id}") #{users[i].fullname} (#{users[i].phone})
                                -}
                    .column
                        .select-input
                            label(for="linkedAccount") 
                                i.fa.fa-pencil 
                                | حساب چاه‌ متصل:
                            select(name="linkedAccount" id="linkedAccount") 
                                option(value="undefined") انتخاب حساب
                                -for(var i=0; i<accounts.length; i++){
                                    -if(accounts[i].type == 'chah'){
                                        -if(accounts[i]._id.toString() == account.linkedAccount)
                                            option(value="#{accounts[i]._id}" selected) #{accounts[i].license}
                                        -else
                                            option(value="#{accounts[i]._id}") #{accounts[i].license}
                                    -}
                                -}
                button.submit(type="submit")
                    i.fa.fa-save
            -if(account.linkedAccount != 'undefined')
                a.link-to-account(href="/dashboard/acount-view?acountID=#{account.linkedAccount}") 
                    i.fa.fa-external-link
                    | مشاهده حساب چاه متصل
        .user-control 
            .control 
                .charge 
                    h1 شارژ
                    h2 #{Math.floor(account.charge*10)/10}
                        .cm متر مکعب
                .dates 
                    .date تاریخ آغاز اعتبار: #{account.startDate.year}/#{account.startDate.month}/#{account.startDate.day}
                    .date تاریخ پایان اعتبار: #{account.endDate.year}/#{account.endDate.month}/#{account.endDate.day}
                .block-account 
                    -if(account.blocked)
                        a.block(href="/dashboard/unblock-account?accountID=#{account._id}") 
                            i.fa.fa-unlock 
                            | باز کردن حساب
                    -else
                        a.block(href="/dashboard/block-account?accountID=#{account._id}") 
                            i.fa.fa-lock 
                            | مسدود کردن حساب