-if(users[i].regStatusNum > 0){
    -var chahs = accounts.filter(e => e.type == 'chah');
    -var index = chahs.map(e => e.ownerID).indexOf(users[i]._id.toString());
    -if(index != -1){
        -var chah  = chahs[index]
        .completed-state-view
            .state-chah-info
                .info.two-part
                    .part
                        .item 
                            .name شماره پروانه: 
                            .value= chah.license
                        .item 
                            .name کد اشتراک: 
                            .value= chah.accountNumber
                        .item 
                            .name اجازه برداشت سالیانه:
                            .value= chah.permitedUseInYear
                        .item 
                            .name آب دهی مجاز:
                            .value= chah.permitedAbdehi
                        .item 
                            .name ساعت کارکرد مجاز:
                            .value= chah.permitedWorkTime
                        .item 
                            .name UTM: 
                            .value= chah.UTM
                        .item 
                            .name نوع بهره‌برداری: 
                            .value= chah.useType
                        .item 
                            .name نوع پمپ: 
                            .value= chah.pomp
                    .part
                        .item 
                            .name WellCap: 
                            .value= chah.wellCap
                        .item 
                            .name SellCap: 
                            .value= chah.sellCap
                        .item 
                            .name BuyCap: 
                            .value= chah.buyCap
                        .item 
                            .name عمق چاه: 
                            .value= chah.depth
                        .item 
                            .name توان چاه: 
                            .value= chah.power
                        .item 
                            .name آبدهی چاه: 
                            .value= chah.abdehi
                        .item 
                            .name نوع کشت: 
                            .value= chah.farmingType
                        .item 
                            .name مساحت زمین: 
                            .value= chah.area
                .picture 
                    a(href="#{chah.licensePic}" download) 
                        -if(chah.licensePic.slice(chah.licensePic.length-3, chah.licensePic.length) != 'pdf')
                            img(src="#{chah.licensePic}", alt="")
                        -else
                            img(src="/img/pdf.jpg", alt="")
                        .download 
                            i.fa.fa-cloud-download
    -}
-}else if(user.role == 'کارگزار'){
    form(action="/kargozar/add-chah-account" enctype="multipart/form-data" method="POST")
        input.hidden(type="text" name="userID" value="#{users[i]._id}")
        input.hidden(type="text" name="owner" value="#{users[i].fullname}")
        input.hidden(type="text" name="userIndex" value="#{i}")
        h1.title تعریف حساب چاه
        .two-side-form
            .part
                .text-input-view
                    label(for="accountNumber") کد اشتراک: 
                        .required *
                        //- i.fa.fa-pencil
                    input.textinput(type="text" placeholder="کد اشتراک" name="accountNumber" value= "#{ typeof accountNumber != 'undefined' ? accountNumber: '' }" required oninvalid="this.setCustomValidity('لطفا این مورد را تکمیل نمایید')")
                .text-input-view
                    label(for="license") شماره پروانه: 
                        .required *
                        //- i.fa.fa-pencil
                    input.textinput(type="text" placeholder="شماره پروانه" name="license" value= "#{ typeof license != 'undefined' ? license: '' }" required oninvalid="this.setCustomValidity('لطفا این مورد را تکمیل نمایید')")
                .text-input-view
                    label(for="permitedUseInYear") اجازه برداشت سالیانه:
                        .required *
                        //- i.fa.fa-pencil
                    input.textinput(type="number" placeholder="اجازه برداشت سالیانه" name="permitedUseInYear" value= "#{ typeof permitedUseInYear != 'undefined' ? permitedUseInYear: '' }" required  oninvalid="this.setCustomValidity('لطفا این مورد را تکمیل نمایید')")
                .file-input-view
                    label(for="licensePic") اسکن پروانه: 
                    .file-input-overlay(id="file-input-overlay-#{i}")
                        i.fa.fa-check.check(id="file-check-#{i}")
                        .filename(id="file-name-#{i}") انتخاب فایل
                        input.file-input(type="file" name="licensePic" required class="file-input-#{i}" )
                .text-input-view
                    label(for="permitedAbdehi") آب دهی مجاز:
                        //- i.fa.fa-user
                    input.textinput(type="number" placeholder="آب دهی مجاز (لیتر بر ثانیه)" name="permitedAbdehi" value= "#{ typeof permitedAbdehi != 'undefined' ? permitedAbdehi: '' }")
                .text-input-view
                    label(for="permitedWorkTime") ساعت کارکرد مجاز:
                        //- i.fa.fa-credit-card
                    input.textinput(type="number" placeholder="ساعت کارکرد مجاز" name="permitedWorkTime" value= "#{ typeof permitedWorkTime != 'undefined' ? permitedWorkTime: '' }")
                .text-input-view
                    label(for="UTM") UTM: 
                        //- i.fa.fa-pencil
                    input.textinput(type="text" placeholder="UTM" name="UTM" value= "#{ typeof UTM != 'undefined' ? UTM: '' }")
                .select-input-view
                    label(for="useType") نوع بهره‌برداری: 
                        //- i.fa.fa-intersex
                    .select
                        select(name="useType") 
                            option(value="شرب") شرب
                            option(value="صنعت") صنعت
                            option(value="کشاورزی") کشاورزی
                            option(value="فضای سبز") فضای سبز
                            option(value="شرکت آب") شرکت آب
                .select-input-view
                    label(for="pomp") نوع پمپ: 
                        //- i.fa.fa-intersex
                    .select
                        select(name="pomp") 
                            option(value="شناور") شناور
                            option(value="شفت و غلاف") شفت و غلاف
                            option(value="سایر") سایر
            .part
                .text-input-view
                    label(for="wellCap") WellCap: 
                        //- i.fa.fa-user
                    input.textinput(type="number" placeholder="WellCap" name="wellCap" value= "#{ typeof wellCap != 'undefined' ? wellCap: '' }")
                .text-input-view
                    label(for="sellCap") SellCap: 
                        //- i.fa.fa-map-marker
                    input.textinput(type="number" placeholder="SellCap" name="sellCap" value= "#{ typeof sellCap != 'undefined' ? sellCap: '' }")
                .text-input-view
                    label(for="buyCap") BuyCap: 
                        //- i.fa.fa-inbox
                    input.textinput(type="number" placeholder="BuyCap" name="buyCap" value= "#{ typeof buyCap != 'undefined' ? buyCap: '' }")
                .text-input-view
                    label(for="depth") عمق چاه: 
                        //- i.fa.fa-phone
                    input.textinput(type="number" placeholder="عمق چاه (متر)" name="depth" value= "#{ typeof depth != 'undefined' ? depth: '' }")
                .text-input-view
                    label(for="power") توان چاه: 
                        //- i.fa.fa-phone
                    input.textinput(type="number" placeholder="توان چاه (وات)" name="power" value= "#{ typeof power != 'undefined' ? power: '' }")
                .text-input-view
                    label(for="abdehi") آبدهی چاه: 
                        //- i.fa.fa-phone
                    input.textinput(type="number" placeholder="آبدهی چاه (لیتر بر ثانیه)" name="abdehi" value= "#{ typeof abdehi != 'undefined' ? abdehi: '' }")
                .text-input-view
                    label(for="farmingType") نوع کشت: 
                        //- i.fa.fa-phone
                    input.textinput(type="text" placeholder="نوع کشت" name="farmingType" value= "#{ typeof farmingType != 'undefined' ? farmingType: '' }")
                .text-input-view
                    label(for="area") مساحت زمین: 
                        //- i.fa.fa-phone
                    input.textinput(type="number" placeholder="مساحت زمین (متر مربع)" name="area" value= "#{ typeof area != 'undefined' ? area: '' }")
                .buttons-view
                    button.submit.next(type="submit") مرحله بعد
                        i.fa.fa-chevron-left
-}else{
    .access-denied 
        h1 
            i.fa.fa-warning
            | دسترسی مجاز نیست
        p جهت ادامه فرایند ابتدا درخواست ورود به بازار آب باید توسط کارشناس کارگزار ثبت و تایید گردد.
-}
