#accounts-length.hidden= accounts.length
.popup.percent40#select-source-popup
    i.fa.fa-times.close-popup 
    .select-search-view
        input#select-source-search(type="text" placeholder="جستجو...")
        button#select-source-search-btn
            i.fa.fa-search
    .select-list
        table(id="myTable")
            tr 
                th نوع حساب
                th شماره حساب/پروانه
                th مالک حساب
                th شارژ (متر مکعب)
            -for(var i=0; i<accounts.length; i++){
                -if(accounts[i].startDate)
                    .hidden(id="option-source-start-date-#{i}") #{accounts[i].startDate.year}/#{accounts[i].startDate.month}/#{accounts[i].startDate.day}
                    .hidden(id="option-source-end-date-#{i}") #{accounts[i].endDate.year}/#{accounts[i].endDate.month}/#{accounts[i].endDate.day}
                -if(accounts[i].type == "chah"){
                    tr.hidden(id="option-source-#{i}")
                        td.role
                            .red(id="option-source-type-#{i}") چاه
                            .hidden= accounts[i].type
                            .hidden(id="option-source-content-#{i}")= accounts[i]._id
                            .hidden(id="option-source-name-#{i}")= accounts[i].accountNumber
                        td.user 
                            h1= accounts[i].accountNumber
                        td.acounts 
                            -if(accounts[i].owner != 'undefined')
                                h1(id="option-source-owner-#{i}")= accounts[i].owner
                            -else
                                .inline.red مشخص نشده
                        td.charge(id="option-source-charge-#{i}")
                            -if(accounts[i].blocked)
                                i.fa.fa-lock.red-lock
                            | #{Math.floor(accounts[i].charge*10)/10}
                -}else if(accounts[i].type == "abvandi"){
                    tr(id="option-source-#{i}")
                        td.role
                            .green(id="option-source-type-#{i}") آب‌وندی
                            .hidden= accounts[i].type
                            .hidden(id="option-source-content-#{i}")= accounts[i]._id
                            .hidden(id="option-source-name-#{i}")= accounts[i].accountNumber
                        td.user 
                            h1= accounts[i].accountNumber
                        td.acounts 
                            -if(accounts[i].owner != 'undefined')
                                h1(id="option-source-owner-#{i}")= accounts[i].owner
                            -else
                                .inline.red مشخص نشده
                        td.charge(id="option-source-charge-#{i}")
                            -if(accounts[i].blocked)
                                i.fa.fa-lock.red-lock
                            | #{Math.floor(accounts[i].charge*10)/10}
                -}else if(accounts[i].type == "chahvandi"){
                    tr(id="option-source-#{i}")
                        td.role
                            .blue(id="option-source-type-#{i}") چاه‌وندی
                            .hidden= accounts[i].type
                            .hidden(id="option-source-content-#{i}")= accounts[i]._id
                            .hidden(id="option-source-name-#{i}")= accounts[i].accountNumber
                        td.user 
                            h1= accounts[i].accountNumber
                        td.acounts 
                            -if(accounts[i].owner != 'undefined')
                                h1(id="option-source-owner-#{i}")= accounts[i].owner
                            -else
                                .inline.red مشخص نشده
                        td.charge(id="option-source-charge-#{i}")
                            -if(accounts[i].blocked)
                                i.fa.fa-lock.red-lock
                            | #{Math.floor(accounts[i].charge*10)/10}
                -}else if(accounts[i].type == "mirab"){
                    tr.hidden(id="option-source-#{i}")
                        td.role
                            .purple(id="option-source-type-#{i}") میراب
                            .hidden= accounts[i].type
                            .hidden(id="option-source-content-#{i}")= accounts[i]._id
                            .hidden(id="option-source-name-#{i}") mirab
                        td.user 
                            h1 mirab
                        td.acounts 
                            h1(id="option-source-owner-#{i}")= accounts[i].owner
                        td.charge(id="option-source-charge-#{i}")
                            -if(accounts[i].blocked)
                                i.fa.fa-lock.red-lock
                            | #{Math.floor(accounts[i].charge*10)/10}
                -}else if(accounts[i].type == "abkhan"){
                    tr.hidden(id="option-source-#{i}")
                        td.role
                            .purple(id="option-source-type-#{i}") آبخوان
                            .hidden= accounts[i].type
                            .hidden(id="option-source-content-#{i}")= accounts[i]._id
                            .hidden(id="option-source-name-#{i}") abkhan
                        td.user 
                            h1 abkhan
                        td.acounts 
                            h1(id="option-source-owner-#{i}")= accounts[i].owner
                        td.charge(id="option-source-charge-#{i}")
                            -if(accounts[i].blocked)
                                i.fa.fa-lock.red-lock
                            | #{Math.floor(accounts[i].charge*10)/10}
                -}
            -}
.popup.percent40#select-target-popup
    i.fa.fa-times.close-popup 
    .select-search-view
        input#select-target-search(type="text" placeholder="جستجو...")
        button#select-target-search-btn
            i.fa.fa-search
    .select-list
        table(id="myTable")
            tr 
                th نوع حساب
                th شماره حساب/پروانه
                th مالک حساب
                th شارژ (متر مکعب)
            -for(var i=0; i<accounts.length; i++){
                -if(accounts[i].startDate)
                    .hidden(id="option-target-start-date-#{i}") #{accounts[i].startDate.year}/#{accounts[i].startDate.month}/#{accounts[i].startDate.day}
                    .hidden(id="option-target-end-date-#{i}") #{accounts[i].endDate.year}/#{accounts[i].endDate.month}/#{accounts[i].endDate.day}
                -if(accounts[i].type == "chah"){
                    tr.hidden(id="option-target-#{i}")
                        td.role
                            .red(id="option-target-type-#{i}") چاه
                            .hidden= accounts[i].type
                            .hidden(id="option-target-content-#{i}")= accounts[i]._id
                            .hidden(id="option-target-name-#{i}")= accounts[i].accountNumber
                        td.user 
                            h1= accounts[i].accountNumber
                        td.acounts 
                            -if(accounts[i].owner != 'undefined')
                                h1(id="option-target-owner-#{i}")= accounts[i].owner
                            -else
                                .inline.red مشخص نشده
                        td.charge(id="option-target-charge-#{i}")
                            -if(accounts[i].blocked)
                                i.fa.fa-lock.red-lock
                            | #{Math.floor(accounts[i].charge*10)/10}
                -}else if(accounts[i].type == "abvandi"){
                    tr(id="option-target-#{i}")
                        td.role
                            .green(id="option-target-type-#{i}") آب‌وندی
                            .hidden= accounts[i].type
                            .hidden(id="option-target-content-#{i}")= accounts[i]._id
                            .hidden(id="option-target-name-#{i}")= accounts[i].accountNumber
                        td.user 
                            h1= accounts[i].accountNumber
                        td.acounts 
                            -if(accounts[i].owner != 'undefined')
                                h1(id="option-target-owner-#{i}")= accounts[i].owner
                            -else
                                .inline.red مشخص نشده
                        td.charge(id="option-target-charge-#{i}")
                            -if(accounts[i].blocked)
                                i.fa.fa-lock.red-lock
                            | #{Math.floor(accounts[i].charge*10)/10}
                -}else if(accounts[i].type == "chahvandi"){
                    tr(id="option-target-#{i}")
                        td.role
                            .blue(id="option-target-type-#{i}") چاه‌وندی
                            .hidden= accounts[i].type
                            .hidden(id="option-target-content-#{i}")= accounts[i]._id
                            .hidden(id="option-target-name-#{i}")= accounts[i].accountNumber
                        td.user 
                            h1= accounts[i].accountNumber
                        td.acounts 
                            -if(accounts[i].owner != 'undefined')
                                h1(id="option-target-owner-#{i}")= accounts[i].owner
                            -else
                                .inline.red مشخص نشده
                        td.charge(id="option-target-charge-#{i}")
                            -if(accounts[i].blocked)
                                i.fa.fa-lock.red-lock
                            | #{Math.floor(accounts[i].charge*10)/10}
                -}else if(accounts[i].type == "mirab"){
                    tr.hidden(id="option-target-#{i}")
                        td.role
                            .purple(id="option-target-type-#{i}") میراب
                            .hidden= accounts[i].type
                            .hidden(id="option-target-content-#{i}")= accounts[i]._id
                            .hidden(id="option-target-name-#{i}") mirab
                        td.user 
                            h1 mirab
                        td.acounts 
                            h1(id="option-target-owner-#{i}")= accounts[i].owner
                        td.charge(id="option-target-charge-#{i}")
                            -if(accounts[i].blocked)
                                i.fa.fa-lock.red-lock
                            | #{Math.floor(accounts[i].charge*10)/10}
                -}else if(accounts[i].type == "abkhan"){
                    tr.hidden(id="option-target-#{i}")
                        td.role
                            .purple(id="option-target-type-#{i}") آبخوان
                            .hidden= accounts[i].type
                            .hidden(id="option-target-content-#{i}")= accounts[i]._id
                            .hidden(id="option-target-name-#{i}") abkhan
                        td.user 
                            h1 abkhan
                        td.acounts 
                            h1(id="option-target-owner-#{i}")= accounts[i].owner
                        td.charge(id="option-target-charge-#{i}")
                            -if(accounts[i].blocked)
                                i.fa.fa-lock.red-lock
                            | #{Math.floor(accounts[i].charge*10)/10}
                -}
            -}
script.
    //- $('#select-source').show()
    //- $('.black-modal').show()