#accounts-length.hidden= accounts.length
.popup.percent40#select-source-popup
    i.fa.fa-times.close-popup 
    .select-search-view
        input#select-source-search(type="text" placeholder="جستجو...")
        button#select-source-search-btn
            i.fa.fa-search
    .select-list
        table(id="myTable")
            tr 
                th نوع حساب
                th شماره حساب/پروانه
                th مالک حساب
                th شارژ (متر مکعب)
            -for(var i=0; i<accounts.length; i++){
                -if(accounts[i].type == "chah"){
                    tr(id="option-source-#{i}")
                        td.role
                            .red چاه
                            .hidden= accounts[i].type
                        td.user 
                            h1= accounts[i].license
                        td.acounts 
                            -if(accounts[i].owner != 'undefined')
                                h1= accounts[i].owner
                            -else
                                .inline.red مشخص نشده
                        td.charge
                            -if(accounts[i].blocked)
                                i.fa.fa-lock.red-lock
                            | #{Math.floor(accounts[i].charge*10)/10}
                -}else if(accounts[i].type == "abvandi"){
                    tr(id="option-source-#{i}")
                        td.role
                            .green آب‌وندی
                            .hidden= accounts[i].type
                        td.user 
                            h1= accounts[i].accountNumber
                        td.acounts 
                            -if(accounts[i].owner != 'undefined')
                                h1= accounts[i].owner
                            -else
                                .inline.red مشخص نشده
                        td.charge
                            -if(accounts[i].blocked)
                                i.fa.fa-lock.red-lock
                            | #{Math.floor(accounts[i].charge*10)/10}
                -}else if(accounts[i].type == "chahvandi"){
                    tr(id="option-source-#{i}")
                        td.role
                            .blue چاه‌وندی
                            .hidden= accounts[i].type
                        td.user 
                            h1= accounts[i].accountNumber
                        td.acounts 
                            -if(accounts[i].owner != 'undefined')
                                h1= accounts[i].owner
                            -else
                                .inline.red مشخص نشده
                        td.charge
                            -if(accounts[i].blocked)
                                i.fa.fa-lock.red-lock
                            | #{Math.floor(accounts[i].charge*10)/10}
                -}else if(accounts[i].type == "mirab"){
                    tr(id="option-source-#{i}")
                        td.role
                            .purple میراب
                            .hidden= accounts[i].type
                        td.user 
                            h1 mirab
                        td.acounts 
                            h1= accounts[i].owner
                        td.charge
                            -if(accounts[i].blocked)
                                i.fa.fa-lock.red-lock
                            | #{Math.floor(accounts[i].charge*10)/10}
                -}else if(accounts[i].type == "abkhan"){
                    tr(id="option-source-#{i}")
                        td.role
                            .purple آبخوان
                            .hidden= accounts[i].type
                        td.user 
                            h1 abkhan
                        td.acounts 
                            h1= accounts[i].owner
                        td.charge
                            -if(accounts[i].blocked)
                                i.fa.fa-lock.red-lock
                            | #{Math.floor(accounts[i].charge*10)/10}
                -}
            -}
.popup.percent40#select-target-popup
    i.fa.fa-times.close-popup 
    .select-search-view
        input#select-target-search(type="text" placeholder="جستجو...")
        button#select-target-search-btn
            i.fa.fa-search
    .select-list
        table(id="myTable")
            tr 
                th نوع حساب
                th شماره حساب/پروانه
                th مالک حساب
                th شارژ (متر مکعب)
            -for(var i=0; i<accounts.length; i++){
                -if(accounts[i].type == "chah"){
                    tr(id="option-target-#{i}")
                        td.role
                            .red چاه
                            .hidden= accounts[i].type
                        td.user 
                            h1= accounts[i].license
                        td.acounts 
                            -if(accounts[i].owner != 'undefined')
                                h1= accounts[i].owner
                            -else
                                .inline.red مشخص نشده
                        td.charge
                            -if(accounts[i].blocked)
                                i.fa.fa-lock.red-lock
                            | #{Math.floor(accounts[i].charge*10)/10}
                -}else if(accounts[i].type == "abvandi"){
                    tr(id="option-target-#{i}")
                        td.role
                            .green آب‌وندی
                            .hidden= accounts[i].type
                        td.user 
                            h1= accounts[i].accountNumber
                        td.acounts 
                            -if(accounts[i].owner != 'undefined')
                                h1= accounts[i].owner
                            -else
                                .inline.red مشخص نشده
                        td.charge
                            -if(accounts[i].blocked)
                                i.fa.fa-lock.red-lock
                            | #{Math.floor(accounts[i].charge*10)/10}
                -}else if(accounts[i].type == "chahvandi"){
                    tr(id="option-target-#{i}")
                        td.role
                            .blue چاه‌وندی
                            .hidden= accounts[i].type
                        td.user 
                            h1= accounts[i].accountNumber
                        td.acounts 
                            -if(accounts[i].owner != 'undefined')
                                h1= accounts[i].owner
                            -else
                                .inline.red مشخص نشده
                        td.charge
                            -if(accounts[i].blocked)
                                i.fa.fa-lock.red-lock
                            | #{Math.floor(accounts[i].charge*10)/10}
                -}else if(accounts[i].type == "mirab"){
                    tr(id="option-target-#{i}")
                        td.role
                            .purple میراب
                            .hidden= accounts[i].type
                        td.user 
                            h1 mirab
                        td.acounts 
                            h1= accounts[i].owner
                        td.charge
                            -if(accounts[i].blocked)
                                i.fa.fa-lock.red-lock
                            | #{Math.floor(accounts[i].charge*10)/10}
                -}else if(accounts[i].type == "abkhan"){
                    tr(id="option-target-#{i}")
                        td.role
                            .purple آبخوان
                            .hidden= accounts[i].type
                        td.user 
                            h1 abkhan
                        td.acounts 
                            h1= accounts[i].owner
                        td.charge
                            -if(accounts[i].blocked)
                                i.fa.fa-lock.red-lock
                            | #{Math.floor(accounts[i].charge*10)/10}
                -}
            -}
script.
    //- $('#select-source').show()
    //- $('.black-modal').show()