extends layout

block styles
    link(rel="stylesheet", href="/css/dashboard/users-view.css")
    link(rel="stylesheet", href="/css/dashboard/accounts.css")

block content
    .title-view 
        h1 معاملات
        //- h2 #{accounts.length} حساب
    .content-view 
        .users-view 
            .hidden#internal-mirab-right= settings.internalMirabRight
            form.transmission#form-transmission(action="/dashboard/transmit" method="POST") 
                h1.title
                    i.fa.fa-arrows-h
                    | ثبت معامله جدید
                .account-info-view
                    h1.name حساب مبداء:
                    .select-account#transmission-source
                        .name#source-name انتخاب کنید
                        .type#source-type 
                        i.fa.fa-check#source-selected-icon
                    .account-info 
                        .info 
                            .name مالک حساب: 
                            .value#source-owner -
                        .info 
                            .name نوع حساب: 
                            .value#source-type2 -
                        .info 
                            .name تاریخ آغاز اعتبار: 
                            .value#source-start-date 0
                        .info 
                            .name تاریخ پایان اعتبار: 
                            .value#source-end-date= 0
                        .info 
                            .name موجودی حساب: 
                            .value#source-available= 0
                        
                .account-info-view
                    h1.name حساب مقصد:
                    .select-account#transmission-target
                        .name#target-name انتخاب کنید
                        .type#target-type 
                        i.fa.fa-check#target-selected-icon
                    .account-info 
                        .info 
                            .name مالک حساب: 
                            .value#target-owner -
                        .info 
                            .name نوع حساب: 
                            .value#target-type2 -
                        .info 
                            .name تاریخ آغاز اعتبار: 
                            .value#target-start-date 0
                        .info 
                            .name تاریخ پایان اعتبار: 
                            .value#target-end-date= 0
                        .info 
                            .name موجودی حساب: 
                            .value#target-available= 0
                        
                .text-input-view
                    h1.name مقدار شارژ:
                    input.text(type="number" name="amount" id="amount" step="any" placeholder="متر مکعب" onkeyup="updateAmount()")
                input.hidden(type="text" name="sourceID" value="" id="transmission-sourceID")
                input.hidden(type="text" name="targetID" value="" id="transmission-targetID")
            -if(transmissions.length > 0){
                .transmissions-list 
                    h1.title
                        i.fa.fa-clock-o
                        | معاملات تایید نشده
                    -for(var i=0; i<transmissions.length; i++){
                        .row
                            a.view(href="/dashboard/confirm-trade?transmissionID=#{transmissions[i]._id}")
                                i.fa.fa-edit
                                | از #{transmissions[i].source.accountNumber} به #{transmissions[i].target.accountNumber}
                            a.delete(href="/dashboard/delete-trade?transmissionID=#{transmissions[i]._id}" onclick="makeSure(event)") 
                                i.fa.fa-trash
                                | حذف معامله
                    -}
            -}
        .user-control 
            .control
                .charge 
                    h1 کارمزد
                    .item 
                        .name سهم میراب: 
                        .value
                            .val#mirab-right= 0
                            .cm متر مکعب
                    .item 
                        .name سهم آب‌خوان: 
                        .value= 0
                            .cm متر مکعب
                    .item 
                        .name قابل انتقال: 
                        .value
                            .val#transmitable= 0
                            .cm متر مکعب
                button.submit#submit-form
                    i.fa.fa-save
                    | ثبت و صدور فرم 3
                    
    include ../components/add-account-popup
    include ../components/select-account
    //- include ../components/form-download
    script(src="/js/accounts.js") 
    script.
        $('#link6').addClass('active');
        function makeSure(e)
        {
            if(!confirm('آیا مطمئن هستید؟')) {
                e.preventDefault();
            }
        }
    //- -if(makeForm1){
    //-     script.
    //-         $('#form1-download-popup').show();
    //-         $('.black-modal').show();
    //- -}else if(makeForm2){
    //-     script.
    //-         $('#form2-download-popup').show();
    //-         $('.black-modal').show();
    //- -}


