extends layout

block styles
    link(rel="stylesheet", href="/css/dashboard/users-view.css")
    link(rel="stylesheet", href="/css/dashboard/accounts.css")

block content
    .title-view 
        h1 حساب ها
        h2 #{accounts.length} حساب
    .content-view 
        .users-view 
            table(id="myTable")
                tr 
                    th نوع حساب
                    th شماره حساب/پروانه
                    th مالک حساب
                    th شارژ (متر مکعب)
                    th 
                    th 
                -for(var i=0; i<accounts.length; i++){
                    -if(accounts[i].type == "chah"){
                        tr(id="chah#{accounts[i].license}")
                            td.role
                                .red چاه
                                .hidden= accounts[i].type
                            td.user 
                                h1= accounts[i].license
                                h2
                                    -if(accounts[i].licensePic != 'undefined')
                                        a(href="#{accounts[i].licensePic}" target="_blank") پروانه بهره برداری
                            td.acounts 
                                -if(accounts[i].owner != 'undefined')
                                    h1= accounts[i].owner
                                -else
                                    .inline.red مشخص نشده
                                h2
                            td.charge
                                -if(accounts[i].blocked)
                                    i.fa.fa-lock.red-lock
                                | #{accounts[i].charge}
                            td
                                a.edit(href="/dashboard/acount-view?acountID=#{accounts[i]._id}") 
                                    i.fa.fa-edit
                            td
                                a.trash(href="/dashboard/delete-acount?acountID=#{accounts[i]._id}&redirect=/dashboard/accounts") 
                                    i.fa.fa-trash 
                    -}else if(accounts[i].type == "abvandi"){
                        tr
                            td.role
                                .green آب‌وندی
                                .hidden= accounts[i].type
                            td.user 
                                h1= accounts[i].accountNumber
                                h2
                                    //- -if(accounts[i].licensePic != 'undefined')
                                    //-     a(href="#{accounts[i].licensePic}" target="_blank") پروانه بهره برداری
                            td.acounts 
                                -if(accounts[i].owner != 'undefined')
                                    h1= accounts[i].owner
                                -else
                                    .inline.red مشخص نشده
                                h2
                            td.charge
                                -if(accounts[i].blocked)
                                    i.fa.fa-lock.red-lock
                                | #{accounts[i].charge}
                            td
                                a.edit(href="/dashboard/acount-view?acountID=#{accounts[i]._id}") 
                                    i.fa.fa-edit
                            td
                                a.trash(href="/dashboard/delete-acount?acountID=#{accounts[i]._id}&redirect=/dashboard/accounts") 
                                    i.fa.fa-trash 
                    -}else if(accounts[i].type == "chahvandi"){
                        tr
                            td.role
                                .blue چاه‌وندی
                                .hidden= accounts[i].type
                            td.user 
                                h1= accounts[i].accountNumber
                                h2
                            td.acounts 
                                -if(accounts[i].owner != 'undefined')
                                    h1= accounts[i].owner
                                -else
                                    .inline.red مشخص نشده
                                h2
                                    -if(accounts[i].linkedAccount != 'undefined'){
                                        -var linkedAccount = accounts[accounts.map(e => e._id.toString()).indexOf(accounts[i].linkedAccount)]
                                        -if(typeof(linkedAccount) != 'undefined'){
                                            .linked-account(id="button#{linkedAccount.license}") متصل به حساب چاه #{linkedAccount.license}
                                            script.
                                                $(document).ready(() => {
                                                    $('#button#{linkedAccount.license}').mouseenter(() => {
                                                        $('#chah#{linkedAccount.license}').css('background-color', '#e9e9ff');
                                                    })
                                                    $('#button#{linkedAccount.license}').mouseleave(() => {
                                                        $('#chah#{linkedAccount.license}').css('background-color', '#ffffff');
                                                    })
                                                    
                                                })
                                        -}
                                    -}else  
                                        .inline.red بدون حساب چاه
                            td.charge
                                -if(accounts[i].blocked)
                                    i.fa.fa-lock.red-lock
                                | #{accounts[i].charge}
                            td
                                a.edit(href="/dashboard/acount-view?acountID=#{accounts[i]._id}") 
                                    i.fa.fa-edit
                            td
                                a.trash(href="/dashboard/delete-acount?acountID=#{accounts[i]._id}&redirect=/dashboard/accounts") 
                                    i.fa.fa-trash 
                    -}else if(accounts[i].type == "mirab"){
                        tr
                            td.role
                                .purple میراب
                                .hidden= accounts[i].type
                            td.user 
                                h1 mirab
                                h2
                            td.acounts 
                                h1= accounts[i].owner
                                h2
                            td.charge
                                -if(accounts[i].blocked)
                                    i.fa.fa-lock.red-lock
                                | #{accounts[i].charge}
                            td
                                a.edit(href="/dashboard/acount-view?acountID=#{accounts[i]._id}") 
                                    i.fa.fa-edit
                            td
                                a.trash(href="/dashboard/delete-acount?acountID=#{accounts[i]._id}&redirect=/dashboard/accounts") 
                                    i.fa.fa-trash 
                    -}else if(accounts[i].type == "abkhan"){
                        tr
                            td.role
                                .purple آبخوان
                                .hidden= accounts[i].type
                            td.user 
                                h1 abkhan
                                h2
                            td.acounts 
                                h1= accounts[i].owner
                                h2
                            td.charge
                                -if(accounts[i].blocked)
                                    i.fa.fa-lock.red-lock
                                | #{accounts[i].charge}
                            td
                                a.edit(href="/dashboard/acount-view?acountID=#{accounts[i]._id}") 
                                    i.fa.fa-edit
                            td
                                a.trash(href="/dashboard/delete-acount?acountID=#{accounts[i]._id}&redirect=/dashboard/accounts") 
                                    i.fa.fa-trash 
                    -}
                        
                -}
        .user-control 
            .control 
                .search-view
                    input(id="searchInput" type="text" placeholder="جستجو" onchange="search()")
                    button(onclick="search()")
                        i.fa.fa-search
                .check-boxes
                    input.check(type="checkbox" id="check-abvandi" checked onchange="abvandiCheck()")
                    label(for="check-abvandi") حساب های آب‌وندی
                    br
                    input.check(type="checkbox" id="check-chahvandi" checked onchange="chahvandiCheck()")
                    label(for="check-chahvandi") حساب های چاه‌وندی
                    br
                    input.check(type="checkbox" id="check-chah" checked onchange="chahCheck()")
                    label(for="check-chah") حساب های چاه
                    
                a.add-user#add-account-btn
                    i.fa.fa-plus 
                    | افزودن حساب
            //- .statistics
            //-     h1.title مشاهده سریع حساب ها
            //-     .acount 
            //-         .info
            //-             h1 حساب آب‌وندی
            //-             h2 از 1/2/3 تا 4/5/6
            //-         .cap 1000 
            //-             span &#13221;
            //-     .acount 
            //-         .info
            //-             h1 حساب چاه‌وندی
            //-             h2 از 1/2/3 تا 4/5/6
            //-         .cap 1500 
            //-             span &#13221;
            //-     .acount 
            //-         .info
            //-             h1 حساب آب‌وندی
            //-             h2 از 1/2/3 تا 4/5/6
            //-         .cap 500 
            //-             span &#13221;
            //-     .acount 
            //-         .info
            //-             h1 حساب چاه
            //-             h2 از 1/2/3 تا 4/5/6
            //-         .cap 1000 
            //-             span &#13221;
            //-     .acount 
            //-         .info
            //-             h1 حساب آب‌وندی
            //-             h2 از 1/2/3 تا 4/5/6
            //-         .cap 2000 
            //-             span &#13221;
    .popup#add-account-popup
        i.fa.fa-times.close-popup
        //- h1.popup-title افزودن حساب
        .tab-buttons 
            .tab-btn#tab-btn1.active حساب چاه
            .tab-btn#tab-btn2 حساب چاه‌وندی
            .tab-btn#tab-btn3 حساب آب‌وندی
        .tab#tab1 
            form(action="/upload/add-account-chah" enctype="multipart/form-data" method="POST") 
                .text-input
                    label(for="license") شماره پروانه بهره برداری:
                    input(type="text" name="license" id="license" placeholder="00000" required)
                .text-input
                    label(for="permitedUseInYear") اجازه برداشت سالیانه:
                    input(type="number" name="permitedUseInYear" id="permitedUseInYear" placeholder="00 متر مکعب" required)
                .select-input
                    label(for="userID") کاربر:
                    select(name="userID" id="userID") 
                        option(value="undefined") انتخاب کاربر
                        -for(var i=0; i<users.length; i++)
                            option(value="#{users[i]._id}") #{users[i].fullname} (#{users[i].phone})
                .file-upload 
                    label(for="licensePic") اسکن پروانه بهره برداری:
                    input(type="file" name="licensePic" id="licensePic")
                input.submit(type="submit" value="ثبت")
        .tab#tab2 
            form(action="/upload/add-account-chahvandi" method="POST") 
                .select-input
                    label(for="chahID") حساب چاه:
                    select(name="chahID" id="chahID") 
                        option(value="undefined") انتخاب حساب جاه
                        -for(var i=0; i<accounts.length; i++)
                            -if(accounts[i].type == "chah")
                                option(value="#{accounts[i]._id}") #{accounts[i].license} (#{accounts[i].owner})
                .select-input
                    label(for="userID") کاربر:
                    select(name="userID" id="userID") 
                        option(value="undefined") انتخاب کاربر
                        -for(var i=0; i<users.length; i++)
                            option(value="#{users[i]._id}") #{users[i].fullname} (#{users[i].phone})
                input.submit(type="submit" value="ثبت")
        .tab#tab3 
            form(action="/upload/add-account-abvandi" method="POST") 
                .select-input
                    label(for="userID") کاربر:
                    select(name="userID" id="userID") 
                        option(value="undefined") انتخاب کاربر
                        -for(var i=0; i<users.length; i++)
                            option(value="#{users[i]._id}") #{users[i].fullname} (#{users[i].phone})
                input.submit(type="submit" value="ثبت")
        
    script(src="/js/accounts.js") 
    script.
        $('#link3').addClass('active');


