extends layout

block styles
    link(rel="stylesheet", href="/css/dashboard/user-view.css")
    link(rel="stylesheet", href="/css/dashboard/users-view.css")

block content
    .title-view 
        h1= viewingUser.sex + ' ' + viewingUser.fullname 
        h2= viewingUser.role
    .content-view 
        .users-view 
            .personal-info 
                form(action="/dashboard/edit-user" method="POST") 
                    input.hidden(type="text" name="userID" value="#{viewingUser._id}")
                    .part 
                        .text-input
                            label(for="firstName") نام: 
                            input.text(type="text" name="firstName" placeholder="نام" value="#{viewingUser.firstName}" required)
                        .text-input
                            label(for="lastName") نام خانوادگی: 
                            input.text(type="text" name="lastName" placeholder="نام خانوادگی" value="#{viewingUser.lastName}" required)
                        .text-input
                            label(for="fatherName") نام پدر: 
                            input.text(type="text" name="fatherName" placeholder="نام پدر" value="#{viewingUser.fatherName}")
                        .text-input
                            label(for="idNumber") کد ملی: 
                            input.text(type="text" name="idNumber" placeholder="کد ملی" value="#{viewingUser.idNumber}" required)
                    .part
                        .text-input
                            label(for="cardNumber") شماره شناسنامه: 
                            input.text(type="text" name="cardNumber" placeholder="شماره شناسنامه" value="#{viewingUser.cardNumber}" required)
                        .text-input
                            label(for="address") آدرس: 
                            input.text(type="text" name="address" placeholder="آدرس" value="#{viewingUser.address}")
                        .text-input
                            label(for="postCode") کد پستی: 
                            input.text(type="text" name="postCode" placeholder="کد پستی" value="#{viewingUser.postCode}")
                        .text-input
                            label(for="phone") تلفن: 
                            input.text(type="text" name="phone" placeholder="تلفن" value="#{viewingUser.phone}" required)
                        //- birthDate
                        //- introductionLetter
                        //- sex
                    input.submit(type="submit" value="ثبت تغییرات")
            .personal-info 
                form(action="/dashboard/edit-user-password" method="POST") 
                    input.hidden(type="text" name="userID" value="#{viewingUser._id}")
                    .part 
                        .text-input
                            label(for="firstName") کلمه عبور: 
                            input.text(type="password" name="password" placeholder="کلمه عبور")
                    .part
                        .text-input
                            label(for="cardNumber") تایید کلمه عبور: 
                            input.text(type="password" name="password2" placeholder="تایید کلمه عبور")
                    input.submit(type="submit" value="ثبت تغییرات")
            .files-area 
                -for(var i=0; i<viewingUser.file.length; i++){
                    a.file(href="#{viewingUser.file[i].link}" target="_blank")
                        img(src="#{viewingUser.file[i].link}")
                    a.delete(href="/dashboard/delete-file?userID=#{viewingUser._id}&index=#{i}") 
                        i.fa.fa-times
                -}
                .add-file
                    i.fa.fa-plus
                    h1 افزودن فایل
            .tab-view 
                .tabs-area
                    .tab.active#tab1 حساب های آب‌وندی
                    .tab#tab2 حساب های چاه‌وندی
                    .tab#tab3 حساب های چاه
                .content#tab-content1
                    table 
                        tr 
                            th ردیف
                            th شماره حساب
                            th شارژ
                            //- th پایان
                            //- th ظرفیت (متر مکعب)
                            th 
                        -for(var i=0; i<acounts.length; i++){
                            -if(acounts[i].type == 'abvandi')
                                tr 
                                    td= i+1
                                    td= acounts[i].accountNumber
                                    td= acounts[i].charge
                                    //- td= acounts.find(e => e._id.toString() == acounts[i].linkedAccount).license
                                    td 
                                        a.green(href="#") 
                                            i.fa.fa-edit
                                        a.red(href="#") 
                                            i.fa.fa-trash
                        -}
                    a.add-acount#add-abvandi-btn
                        i.fa.fa-plus 
                        | افزودن حساب آب‌وندی
                .content#tab-content2.invisible
                    table 
                        tr 
                            th ردیف
                            th شماره حساب
                            th شارژ
                            th حساب چاه متصل
                            th 
                        -for(var i=0; i<acounts.length; i++){
                            -if(acounts[i].type == 'chahvandi')
                                tr 
                                    td= i+1
                                    td= acounts[i].accountNumber
                                    td= acounts[i].charge
                                    td= acounts.find(e => e._id.toString() == acounts[i].linkedAccount).license
                                    td 
                                        a.green(href="#") 
                                            i.fa.fa-edit
                                        a.red(href="#") 
                                            i.fa.fa-trash
                        -}
                    a.add-acount#add-chahvandi-btn
                        i.fa.fa-plus 
                        | افزودن حساب چاه‌وندی
                .content#tab-content3.invisible
                    table 
                        tr 
                            th ردیف
                            th شماره پروانه
                            th ظرفیت خرید
                            th ظرفیت فروش
                            th ظرفیت کل
                            th 
                        -var chah = acounts.filter(e => e.type == 'chah');
                        -for(var i=0; i<chah.length; i++){
                            tr 
                                td= i+1
                                td= chah[i].license
                                td= chah[i].buyCap
                                td= chah[i].sellCap
                                td= chah[i].wellCap
                                td 
                                    a.green(href="/dashboard/acount-view?acountID=#{chah[i]._id}") 
                                        i.fa.fa-edit
                                    a.red(href="/dashboard/delete-acount?acountID=#{chah[i]._id}&userID=#{viewingUser._id}") 
                                        i.fa.fa-trash
                        -}
                    a.add-acount#add-chah-btn
                        i.fa.fa-plus 
                        | افزودن حساب چاه
        .user-control 
            .control 
                
    //- .avatar-info
    //-     .avatar 
    //-         i.fa.fa-user 
    //-     .info 
    //-         h1= viewingUser.sex + ' ' + viewingUser.fullname 
    //-         h2
    //-             a(href="tel:#{viewingUser.phone}")= viewingUser.phone
    

    include ../components/add-file
    include ../components/add-acount
    script(src="/js/user-view.js") 





