extends layout

block styles
    link(rel="stylesheet", href="/css/dashboard/users-view.css")
    link(rel="stylesheet", href="/css/dashboard/accounts.css")

block content
    .title-view 
        h1 حساب ها
        h2 #{accounts.length} حساب
    .content-view 
        .users-view 
            table(id="myTable")
                tr 
                    th نام و نام خانوادگی
                    //- th وضعیت
                    th موجودی حساب ها
                    th فرم ها
                    th 
                -for(var i=0; i<users.length; i++){
                    tr
                        td.user 
                            h1= users[i].fullname
                            h2
                                a(href="tel:#{users[i].phone}")= users[i].phone
                        //- td.market-role 
                        //-     h1= users[i].marketRole
                        //-     .change-role 
                        //-         a(href="/dashboard/change-to-buyer?userID=#{users[i]._id}") تغییر به خریدار
                        //-         a(href="/dashboard/change-to-seller?userID=#{users[i]._id}") تغییر به فروشنده
                        td.accounts
                            -for(var j=0; j<users[i].accounts.length; j++){
                                a(href="/dashboard/acount-view?acountID=#{users[i].accounts[j]._id}") #{users[i].accounts[j].accountNumber} (#{typeToString(users[i].accounts[j].type)}): 
                                    .charge= Math.floor(users[i].accounts[j].charge*10)/10
                                        .cm متر مکعب
                            -}
                        td.forms
                            a(href="/dashboard/market?makeForm1=true&userID=#{users[i]._id}") فرم 1
                            a(href="/dashboard/market?makeForm2=true&userID=#{users[i]._id}") فرم 2
                        td 

                -}
        .user-control 
            .control 
                .search-view
                    input(id="searchInput" type="text" placeholder="جستجو" onkeyup="search()")
                    button(onclick="search()")
                        i.fa.fa-search
                .check-boxes
                    input.check(type="checkbox" id="check-abvandi" onchange="abvandiCheck()")
                    label(for="check-abvandi") حساب های آب‌وندی
                    br
                    input.check(type="checkbox" id="check-chahvandi" onchange="chahvandiCheck()")
                    label(for="check-chahvandi") حساب های چاه‌وندی
                    br
                    input.check(type="checkbox" id="check-chah" onchange="chahCheck()")
                    label(for="check-chah") حساب های چاه
                    
                a.add-user#add-account-btn
                    i.fa.fa-plus 
                    | افزودن حساب
            .control
                br
                a.link(href="/dashboard/trade") معاملات
    include ../components/add-account-popup
    include ../components/select-account
    include ../components/form-download
    script(src="/js/accounts.js") 
    script.
        $('#link6').addClass('active');
        function makeSure(e)
        {
            if(!confirm('Are you sure?')) {
                e.preventDefault();
            }
        }
    -if(makeForm1){
        script.
            $('#form1-download-popup').show();
            $('.black-modal').show();
    -}else if(makeForm2){
        script.
            $('#form2-download-popup').show();
            $('.black-modal').show();
    -}


