extends layout

block styles
    link(rel="stylesheet", href="/css/dashboard/admin-dashboard.css")

block content
    .cards-view 
        a.card.blue(href="/dashboard/users")
            i.fa.fa-user 
            h1.number= users.length
            .progress-bar
                .passed(style="width: #{Math.floor((users.length/100)*100) < 100 ? Math.floor((users.length/100)*100) : 100}%")
            h1.title کاربران
        a.card.green(href="/dashboard/accounts")
            i.fa.fa-credit-card
            h1.number= accounts.length
            .progress-bar
                .passed(style="width: #{Math.floor((accounts.length/100)*100) < 100 ? Math.floor((accounts.length/100)*100) : 100}%")
            h1.title حساب ها
        a.card.orange(href="#")
            i.fa.fa-dollar
            h1.number #{mirab.charge} 
                .cm متر مکعب
            .progress-bar
                .passed(style="width: #{Math.floor((mirab.charge/sumCharge)*100) < 100 ? Math.floor((mirab.charge/sumCharge)*100) : 100}%")
            h1.title حساب میراب
        a.card.red(href="#")
            i.fa.fa-dollar
            h1.number #{abkhan.charge} 
                .cm متر مکعب
            .progress-bar
                .passed(style="width: #{Math.floor((abkhan.charge/sumCharge)*100) < 100 ? Math.floor((abkhan.charge/sumCharge)*100) : 100}%")
            h1.title حساب آبخوان
    #transmissionnumber.hidden= transmissions.length
    .notifications
        -for(var i=transmissions.length-1; i>=0; i--){
            .notif(id="transmission#{i}")
                a
                    .text انتقال شارژ #{transmissions[i].amount} متر مکعب از حساب 
                        | #{transmissions[i].source.type == 'chah'? 'چاه ' : ''}#{transmissions[i].source.type == 'chahvandi'? 'چاه‌وندی ' : ''}#{transmissions[i].source.type == 'abvandi'? 'آب‌وندی ' : ''}
                        | #{transmissions[i].source.type == 'chah' ? transmissions[i].source.license : transmissions[i].source.accountNumber} (#{transmissions[i].source.owner}) به حساب
                        | #{transmissions[i].target.type == 'chah'? 'چاه ' : ''}#{transmissions[i].target.type == 'chahvandi'? 'چاه‌وندی ' : ''}#{transmissions[i].target.type == 'abvandi'? 'آب‌وندی ' : ''}
                        | #{transmissions[i].target.type == 'chah' ? transmissions[i].target.license : transmissions[i].target.accountNumber} (#{transmissions[i].target.owner}).
                .date= dateConvert.get_year_month_day(transmissions[i].date)
                .control.hidden(id="control#{i}")
                    a.accept(href="/dashboard/accept-transmission?transmissionID=#{transmissions[i]._id}") 
                        i.fa.fa-check
                    a.decline(href="/dashboard/decline-transmission?transmissionID=#{transmissions[i]._id}") 
                        i.fa.fa-times
            .notif-info.hidden(id="transmission-info#{i}")
                .part 
                    h1.title حساب مبداء
                    -if(transmissions[i].source.type == 'chah'){
                        .item نوع حساب: 
                            .value چاه
                        .item شارژ سالیانه: 
                            .value= transmissions[i].source.permitedUseInYear
                        .item مصرف شده: 
                            .value= transmissions[i].source.permitedUseInYear - transmissions[i].source.charge
                        .item موجودی: 
                            .value= transmissions[i].source.charge
                        .item مالک حساب: 
                            .value= transmissions[i].source.owner
                        
                    -}else if(transmissions[i].source.type == 'chahvandi'){
                        .item نوع حساب: 
                            .value چاه‌وندی
                        .item موجودی: 
                            .value= transmissions[i].source.charge
                        .item تاریخ آغاز اعتبار: 
                            .value #{transmissions[i].source.startDate.year}/#{transmissions[i].source.startDate.month}/#{transmissions[i].source.startDate.day}
                        .item تاریخ پایان اعتبار: 
                            .value #{transmissions[i].source.endDate.year}/#{transmissions[i].source.endDate.month}/#{transmissions[i].source.endDate.day}
                        .item مالک حساب: 
                            .value= transmissions[i].source.owner
                    -}else if(transmissions[i].source.type == 'abvandi'){
                        .item نوع حساب: 
                            .value آب‌وندی
                        .item موجودی: 
                            .value= transmissions[i].source.charge
                        .item تاریخ آغاز اعتبار: 
                            .value #{transmissions[i].source.startDate.year}/#{transmissions[i].source.startDate.month}/#{transmissions[i].source.startDate.day}
                        .item تاریخ پایان اعتبار: 
                            .value #{transmissions[i].source.endDate.year}/#{transmissions[i].source.endDate.month}/#{transmissions[i].source.endDate.day}
                        .item مالک حساب: 
                            .value= transmissions[i].source.owner
                    -}
                .part 
                    h1.title حساب مقصد
                    -if(transmissions[i].target.type == 'chah'){
                        .item نوع حساب: 
                            .value چاه
                        .item شارژ سالیانه: 
                            .value= transmissions[i].target.permitedUseInYear
                        .item مصرف شده: 
                            .value= transmissions[i].target.permitedUseInYear - transmissions[i].target.charge
                        .item موجودی: 
                            .value= transmissions[i].target.charge
                        .item مالک حساب: 
                            .value= transmissions[i].source.owner
                    -}else if(transmissions[i].target.type == 'chahvandi'){
                        .item نوع حساب: 
                            .value چاه‌وندی
                        .item موجودی: 
                            .value= transmissions[i].target.charge
                        .item تاریخ آغاز اعتبار: 
                            .value #{transmissions[i].target.startDate.year}/#{transmissions[i].target.startDate.month}/#{transmissions[i].target.startDate.day}
                        .item تاریخ پایان اعتبار: 
                            .value #{transmissions[i].target.endDate.year}/#{transmissions[i].target.endDate.month}/#{transmissions[i].target.endDate.day}
                        .item مالک حساب: 
                            .value= transmissions[i].source.owner
                    -}else if(transmissions[i].target.type == 'abvandi'){
                        .item نوع حساب: 
                            .value آب‌وندی
                        .item موجودی: 
                            .value= transmissions[i].target.charge
                        .item تاریخ آغاز اعتبار: 
                            .value #{transmissions[i].target.startDate.year}/#{transmissions[i].target.startDate.month}/#{transmissions[i].target.startDate.day}
                        .item تاریخ پایان اعتبار: 
                            .value #{transmissions[i].target.endDate.year}/#{transmissions[i].target.endDate.month}/#{transmissions[i].target.endDate.day}
                        .item مالک حساب: 
                            .value= transmissions[i].source.owner
                    -}
        -}
        -for(var i=notifications.length-1; i>=0; i--){
            -if(notifications[i].type == 'new-user'){ 
                .notif.nohover
                    a
                        .text= notifications[i].text 
                    .date= dateConvert.get_year_month_day(notifications[i].date)
                    .control
                        a.accept(href="/dashboard/confirm-register?userID=#{notifications[i].link}&notifID=#{notifications[i]._id}") 
                            i.fa.fa-check
            -}
            -if(notifications[i].type == 'add-account'){ 
                .notif(class="#{notifications[i].seen == true ? 'seen' : ''}")
                    a(href="#{notifications[i].link}") 
                        .text= notifications[i].text 
                    .date= dateConvert.get_year_month_day(notifications[i].date)
            -}
        -}

    //- .charts-view 
        .chart1 
            #chart1
        .chart2
            #chart2
            a(href="#") 
                i.fa.fa-address-card
                | حساب ها
        
    
    script(src="/js/admin-dashboard.js") 


