extends layout

block styles
    link(rel="stylesheet", href="/css/dashboard/user-view.css")
    link(rel="stylesheet", href="/css/dashboard/users-view.css")

block content
    .title-view 
        h1= viewingUser.sex + ' ' + viewingUser.fullname 
        h2= viewingUser.username
    .content-view 
        .users-view 
            .personal-info 
                form(action="/dashboard/edit-user" method="POST") 
                    input.hidden(type="text" name="userID" value="#{viewingUser._id}")
                    .part 
                        .text-input-view
                            label(for="firstName") نام: 
                            input.text(type="text" name="firstName" placeholder="نام" value="#{viewingUser.firstName}" required)
                        .text-input-view
                            label(for="lastName") نام خانوادگی: 
                            input.text(type="text" name="lastName" placeholder="نام خانوادگی" value="#{viewingUser.lastName}" required)
                        .text-input-view
                            label(for="fatherName") نام پدر: 
                            input.text(type="text" name="fatherName" placeholder="نام پدر" value="#{viewingUser.fatherName}")
                        .text-input-view
                            label(for="idNumber") کد ملی: 
                            input.text(type="text" name="idNumber" placeholder="کد ملی" value="#{viewingUser.idNumber}" required)
                    .part
                        .text-input-view
                            label(for="cardNumber") شماره شناسنامه: 
                            input.text(type="text" name="cardNumber" placeholder="شماره شناسنامه" value="#{viewingUser.cardNumber}" required)
                        .text-input-view
                            label(for="address") آدرس: 
                            input.text(type="text" name="address" placeholder="آدرس" value="#{viewingUser.address}")
                        .text-input-view
                            label(for="postCode") کد پستی: 
                            input.text(type="text" name="postCode" placeholder="کد پستی" value="#{viewingUser.postCode}")
                        .text-input-view
                            label(for="phone") تلفن: 
                            input.text(type="text" name="phone" placeholder="تلفن" value="#{viewingUser.phone}" required)
                        //- birthDate
                        //- introductionLetter
                        //- sex
                    input.submit(type="submit" value="ثبت تغییرات")
            .personal-info 
                form(action="/dashboard/edit-user-password" method="POST") 
                    input.hidden(type="text" name="userID" value="#{viewingUser._id}")
                    .part 
                        .text-input-view
                            label(for="firstName") کلمه عبور: 
                            input.text(type="password" name="password" placeholder="کلمه عبور")
                    .part
                        .text-input-view
                            label(for="cardNumber") تایید کلمه عبور: 
                            input.text(type="password" name="password2" placeholder="تایید کلمه عبور")
                    input.submit(type="submit" value="ثبت تغییرات")
            //- .files-area 
                -if(viewingUser.file0.link != ''){
                    a.file(href="#{viewingUser.file0.link}" target="_blank")
                        -if(viewingUser.file0.link.slice(viewingUser.file0.link.length-3, viewingUser.file0.link.length) != 'pdf')
                            img(src="#{viewingUser.file0.link}")
                        -else
                            img(src="/img/pdf.jpg", alt="")
                -}
                -if(viewingUser.file1.link != ''){
                    a.file(href="#{viewingUser.file1.link}" target="_blank")
                        -if(viewingUser.file1.link.slice(viewingUser.file1.link.length-3, viewingUser.file1.link.length) != 'pdf')
                            img(src="#{viewingUser.file1.link}")
                        -else
                            img(src="/img/pdf.jpg", alt="")
                -}
                -if(viewingUser.file2.link != ''){
                    a.file(href="#{viewingUser.file2.link}" target="_blank")
                        -if(viewingUser.file2.link.slice(viewingUser.file2.link.length-3, viewingUser.file2.link.length) != 'pdf')
                            img(src="#{viewingUser.file2.link}")
                        -else
                            img(src="/img/pdf.jpg", alt="")
                -}
                -if(viewingUser.file3.link != ''){
                    a.file(href="#{viewingUser.file3.link}" target="_blank")
                        -if(viewingUser.file3.link.slice(viewingUser.file3.link.length-3, viewingUser.file3.link.length) != 'pdf')
                            img(src="#{viewingUser.file3.link}")
                        -else
                            img(src="/img/pdf.jpg", alt="")
                -}
                -if(viewingUser.file4.link != ''){
                    a.file(href="#{viewingUser.file4.link}" target="_blank")
                        -if(viewingUser.file4.link.slice(viewingUser.file4.link.length-3, viewingUser.file4.link.length) != 'pdf')
                            img(src="#{viewingUser.file4.link}")
                        -else
                            img(src="/img/pdf.jpg", alt="")
                -}
                
                -for(var i=0; i<viewingUser.file.length; i++){
                    a.file(href="#{viewingUser.file[i].link}" target="_blank")
                        img(src="#{viewingUser.file[i].link}")
                    a.delete(href="/dashboard/delete-file?userID=#{viewingUser._id}&index=#{i}") 
                        i.fa.fa-times
                -}
                .add-file
                    i.fa.fa-plus
                    h1 افزودن فایل
            .tab-view 
                .tabs-area
                    .tab.active#tab1 حساب های آب‌وندی
                    .tab#tab2 حساب های چاه‌وندی
                    .tab#tab3 حساب های چاه
                .content#tab-content1
                    table 
                        tr 
                            th ردیف
                            th شماره حساب
                            th شارژ
                            //- th پایان
                            //- th ظرفیت (متر مکعب)
                            th 
                        -for(var i=0; i<acounts.length; i++){
                            -if(acounts[i].type == 'abvandi')
                                tr 
                                    td.actions= i+1
                                    td= acounts[i].accountNumber
                                    td= acounts[i].charge
                                    //- td= acounts.find(e => e._id.toString() == acounts[i].linkedAccount).license
                                    td.actions
                                        a.green(href="/dashboard/acount-view?acountID=#{acounts[i]._id}") 
                                            i.fa.fa-edit
                                        //- a.red(href="/dashboard/delete-acount?acountID=#{acounts[i]._id}&redirect=/dashboard/user-view?userID=#{viewingUser._id}") 
                                        //-     i.fa.fa-trash
                        -}
                    //- a.add-acount#add-abvandi-btn
                    //-     i.fa.fa-plus 
                    //-     | افزودن حساب آب‌وندی
                .content#tab-content2.hidden
                    table 
                        tr 
                            th ردیف
                            th شماره حساب
                            th شارژ
                            th حساب چاه متصل
                            th 
                        -for(var i=0; i<acounts.length; i++){
                            -if(acounts[i].type == 'chahvandi')
                                -var l = acounts.find(e => e._id.toString() == acounts[i].linkedAccount)
                                tr 
                                    td= i+1
                                    td= acounts[i].accountNumber
                                    td= acounts[i].charge
                                    td 
                                        -if(l) l.license
                                    td 
                                        a.green(href="/dashboard/acount-view?acountID=#{acounts[i]._id}") 
                                            i.fa.fa-edit
                                        //- a.red(href="/dashboard/delete-acount?acountID=#{acounts[i]._id}&redirect=/dashboard/user-view?userID=#{viewingUser._id}") 
                                        //-     i.fa.fa-trash
                        -}
                    //- a.add-acount#add-chahvandi-btn
                    //-     i.fa.fa-plus 
                    //-     | افزودن حساب چاه‌وندی
                .content#tab-content3.hidden
                    table 
                        tr 
                            th ردیف
                            th شماره پروانه
                            th شارژ سالیانه
                            th مصرف شده
                            th باقی مانده
                            th 
                        -var chah = acounts.filter(e => e.type == 'chah');
                        -if(chah){
                            -for(var i=0; i<chah.length; i++){
                                tr 
                                    td= i+1
                                    td= chah[i].license
                                    td= chah[i].permitedUseInYear
                                    td= chah[i].usedCredit
                                    td= chah[i].leftCredit
                                    td 
                                        a.green(href="/dashboard/acount-view?acountID=#{chah[i]._id}") 
                                            i.fa.fa-edit
                                        //- a.red(href="/dashboard/delete-acount?acountID=#{chah[i]._id}&userID=#{viewingUser._id}") 
                                        //-     i.fa.fa-trash
                            -}
                        -}
                    //- a.add-acount#add-chah-btn
                    //-     i.fa.fa-plus 
                    //-     | افزودن حساب چاه
        .user-control 
            .control 
                .files-list-view 
                    h1 مدارک عمومی
                    table 
                        -var i=0;
                        -for(i=0; i<viewingUser.file.length; i++){
                            tr 
                                td= i+1 + '.' + viewingUser.file[i].title 
                                td 
                                    -if(viewingUser.file[i].link.slice(-3) != 'pdf')
                                        a(href="#{viewingUser.file[i].link}" target="_blank") 
                                            img(src="#{viewingUser.file[i].link}")
                                    -else
                                        a(href="#{viewingUser.file[i].link}" target="_blank") 
                                            img(src="/img/pdf.jpg")
                        -}
                    .add-file
                        i.fa.fa-plus
                        | افزودن فایل
            .control 
                .files-list-view 
                    h1 مدارک اختصاصی
                    table 
                        -var i=0;
                        -var chah = acounts.find(e => e.type == 'chah' && e.ownerID == viewingUser._id.toString());
                        -if(chah && chah.licensePic && chah.licensePic != ''){
                            tr 
                                td= i+1 + '.' + 'اسکن پروانه بهره برداری'
                                td 
                                    -if(chah.licensePic.slice(-3) != 'pdf')
                                        a(href="#{chah.licensePic}" target="_blank") 
                                            img(src="#{chah.licensePic}")
                                    -else
                                        a(href="#{chah.licensePic}" target="_blank") 
                                            img(src="/img/pdf.jpg")
                        -} i++;
                        -if(viewingUser.file1.link != ''){
                            tr 
                                td= i+1 + '.' + ''
                                td 
                                    -if(viewingUser.file1.link.slice(-3) != 'pdf')
                                        a(href="#{viewingUser.file1.link}" target="_blank") 
                                            img(src="#{viewingUser.file1.link}")
                                    -else
                                        a(href="#{viewingUser.file1.link}" target="_blank") 
                                            img(src="/img/pdf.jpg")
                        -} i++;
                        -if(viewingUser.file2.link != ''){
                            tr 
                                td= i+1 + '.' + 'اصلاح نام پرونده'
                                td 
                                    -if(viewingUser.file2.link.slice(-3) != 'pdf')
                                        a(href="#{viewingUser.file2.link}" target="_blank") 
                                            img(src="#{viewingUser.file2.link}")
                                    -else
                                        a(href="#{viewingUser.file2.link}" target="_blank") 
                                            img(src="/img/pdf.jpg")
                        -} i++;
                        -if(viewingUser.file3.link != ''){
                            tr 
                                td= i+1 + '.' + 'اصلاح نام پروانه'
                                td 
                                    -if(viewingUser.file3.link.slice(-3) != 'pdf')
                                        a(href="#{viewingUser.file3.link}" target="_blank") 
                                            img(src="#{viewingUser.file3.link}")
                                    -else
                                        a(href="#{viewingUser.file3.link}" target="_blank") 
                                            img(src="/img/pdf.jpg")
                        -} i++;
                        -if(viewingUser.file4.link != ''){
                            tr 
                                td= i+1 + '.' + ''
                                td 
                                    -if(viewingUser.file4.link.slice(-3) != 'pdf')
                                        a(href="#{viewingUser.file4.link}" target="_blank") 
                                            img(src="#{viewingUser.file4.link}")
                                    -else
                                        a(href="#{viewingUser.file4.link}" target="_blank") 
                                            img(src="/img/pdf.jpg")
                        -} i++;
                        -if(viewingUser.commitmentLetter && viewingUser.commitmentLetter != ''){
                            tr 
                                td= i+1 + '.' + 'تعهدنامه نمایندگی در فروش'
                                td 
                                    -if(viewingUser.commitmentLetter.slice(-3) != 'pdf')
                                        a(href="#{viewingUser.commitmentLetter}" target="_blank") 
                                            img(src="#{viewingUser.commitmentLetter}")
                                    -else
                                        a(href="#{viewingUser.commitmentLetter}" target="_blank") 
                                            img(src="/img/pdf.jpg")
                        -} i++;
                        -if(chah && chah.calibrateLicense.link != ''){
                            tr 
                                td= i+1 + '.' + ''
                                td 
                                    -if(chah.calibrateLicense.link.slice(-3) != 'pdf')
                                        a(href="#{chah.calibrateLicense.link}" target="_blank") 
                                            img(src="#{chah.calibrateLicense.link}")
                                    -else
                                        a(href="#{chah.calibrateLicense.link}" target="_blank") 
                                            img(src="/img/pdf.jpg")
                        -} i++;
            .control 
                .files-list-view 
                    h1 فرم ها
                    table 
                        -if(viewingUser.form1 != ''){
                            tr 
                                td= '1.' + 'فرم درخواست فروش'
                                td 
                                    -if(viewingUser.form1.slice(-3) != 'pdf')
                                        a(href="#{viewingUser.form1}" target="_blank") 
                                            img(src="#{viewingUser.form1}")
                                    -else
                                        a(href="#{viewingUser.form1}" target="_blank") 
                                            img(src="/img/pdf.jpg")
                        -}
                        -if(viewingUser.form2 != ''){
                            tr 
                                td= '2.' + 'فرم درخواست خرید'
                                td 
                                    -if(viewingUser.form2.slice(-3) != 'pdf')
                                        a(href="#{viewingUser.form2}" target="_blank") 
                                            img(src="#{viewingUser.form2}")
                                    -else
                                        a(href="#{viewingUser.form2}" target="_blank") 
                                            img(src="/img/pdf.jpg")
                        -}
                        
                        
    //- .avatar-info
    //-     .avatar 
    //-         i.fa.fa-user 
    //-     .info 
    //-         h1= viewingUser.sex + ' ' + viewingUser.fullname 
    //-         h2
    //-             a(href="tel:#{viewingUser.phone}")= viewingUser.phone
    

    include ../components/add-file
    include ../components/add-acount
    script(src="/js/user-view.js") 





