extends layout

block styles
    link(rel="stylesheet", href="/css/dashboard/users-view.css")
    link(rel="stylesheet", href="/css/dashboard/accounts.css")

block content
    .title-view 
        h1 معاملات
        //- h2 #{accounts.length} حساب
    .content-view 
        .users-view 
            .hidden#internal-mirab-right= settings.internalMirabRight
            .transmission(action="/dashboard/transmit" method="POST") 
                h1.title
                    i.fa.fa-arrows-h
                    | ثبت معامله جدید
                .account-info-view
                    h1.name حساب مبداء:
                    .select-account
                        .name#source-name= transmission.source.type == 'mirab' || transmission.source.type == 'abkhan'? transmission.source.type : transmission.source.accountNumber
                        .type#source-type 
                        i.fa.fa-check#source-selected-icon
                    .account-info 
                        .info 
                            .name مالک حساب: 
                            .value#source-owner= transmission.source.owner
                        .info 
                            .name تاریخ آغاز اعتبار: 
                            -if(transmission.source.startDate)
                                .value#source-start-date #{transmission.source.startDate.year}/#{transmission.source.startDate.month}/#{transmission.source.startDate.day}
                        .info 
                            .name تاریخ پایان اعتبار: 
                            -if(transmission.source.endDate)
                                .value#source-end-date  #{transmission.source.endDate.year}/#{transmission.source.endDate.month}/#{transmission.source.endDate.day}
                        
                .account-info-view
                    h1.name حساب مقصد:
                    .select-account
                        .name#target-name= transmission.target.type == 'mirab' || transmission.target.type == 'abkhan'? transmission.target.type : transmission.target.accountNumber
                        .type#target-type 
                        i.fa.fa-check#target-selected-icon
                    .account-info 
                        .info 
                            .name مالک حساب: 
                            .value#target-owner= transmission.target.owner
                        .info 
                            .name تاریخ آغاز اعتبار: 
                            -if(transmission.target.startDate)
                                .value#target-start-date #{transmission.target.startDate.year}/#{transmission.target.startDate.month}/#{transmission.target.startDate.day}
                        .info 
                            .name تاریخ پایان اعتبار: 
                            -if(transmission.target.endDate)
                                .value#target-end-date  #{transmission.target.endDate.year}/#{transmission.target.endDate.month}/#{transmission.target.endDate.day}
                .text-input-view
                    h1 مقدار شارژ: 
                        .val #{transmission.amount} متر مکعب
                a.link(href="/files/form3.pdf")
                    i.fa.fa-cloud-download
                    | دانلود فرم شماره 3
                form(action="/upload/upload-form-and-confirm-transmission" enctype="multipart/form-data" method="POST" id="upload-form-3")
                    input.hidden(type="text" name="transmissionID" value="#{transmission._id}")
                    .file-input-view.small
                        label.right(for="form3") اسکن فرم 3: 
                        .file-input-overlay(id="file-input-overlay-#{i}")
                            i.fa.fa-check.check(id="file-check-#{i}")
                            .filename(id="file-name-#{i}") انتخاب فایل
                            input.file-input#file-input(type="file" name="form3" class="file-input-#{i}" )
        .user-control 
            .control
                .charge 
                    h1 کارمزد
                    .item 
                        .name سهم میراب: 
                        .value
                            .val#mirab-right= 0
                            .cm متر مکعب
                    .item 
                        .name سهم آب‌خوان: 
                        .value= 0
                            .cm متر مکعب
                    .item 
                        .name قابل انتقال: 
                        .value
                            .val#transmitable= 0
                            .cm متر مکعب
                button.submit#submit-upload-form
                    | آپلود فرم 3 و تایید معامله
            .control
                br
                a.link(href="/dashboard/trade")
                    i.fa.fa-arrow-left
                    | بازگشت
    //- include ../components/add-account-popup
    //- include ../components/select-account
    //- include ../components/form-download
    script(src="/js/accounts.js") 
    script.
        $('#link6').addClass('active');
        function makeSure(e)
        {
            if(!confirm('Are you sure?')) {
                e.preventDefault();
            }
        }
    //- -if(makeForm1){
    //-     script.
    //-         $('#form1-download-popup').show();
    //-         $('.black-modal').show();
    //- -}else if(makeForm2){
    //-     script.
    //-         $('#form2-download-popup').show();
    //-         $('.black-modal').show();
    //- -}


